// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

.container{
  margin: 50px;
  width: 600px;
}
h1{
  font-family: 'Roboto', sans-serif;
}

ul{
  display: flex;
  list-style: none;
}

li{
  display: flex;
  width: 64px;
  height: 64px;
  background-color: #3398DC;
  margin: 8px;
  color: white;
  align-items: center;
  text-align: center;
  font-size: 37px;
  font-family: monospace;
  box-sizing: content-box;
  box-shadow: 0 0 10px 0 lightgrey;
  border-radius: 6px;
  justify-content: space-around;
}
#play-button{
  padding: 0 40px;
}

.game-display{
  width: 600px;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #3398DC;
}

a:hover {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


